

BODY { 
	background-image: url(../images/paper3.gif); 
	color: #000000; 
	font-family: Garamond, Georgia, Times, Serif; 
 	font-size: 110%; 
	}

BODY.home { 
	background-image: url(../images/paper.gif); 
	color: #000000; 
	font-family: Garamond, Georgia, Times, Serif;
 	font-size: 110%; 
	}

/* STYLES FOR HYPERLINKS */

A:link {
	color: #CC6600; 
	text-decoration: none;
	}

A:visited {
	color: #FF6600;
	text-decoration: none; 
	}

A:hover {
	color: #CC6600;
	text-decoration: underline; 
	}

A.bib:link {
	color: #663300; 
	text-decoration: none;
	}

A.bib:visited {
	color: #996600;
	text-decoration: none; 
	}

A.bib:hover {
	color: #663300;
	text-decoration: underline; 
	}

A.mss:link {
	color: #006600; 
	text-decoration: none;
	}

A.mss:visited {
	color: #669966;
	text-decoration: none; 
	}

A.mss:hover {
	color: #006600;
	text-decoration: underline; 
	}

A.nav:link {
	color: #FFFFFF;
	font-size: 8pt; 
	text-decoration: none;
	}

A.nav:visited {
	color: #FFFFFF;
	font-size: 8pt; 
	text-decoration: none; 
	}

A.nav:hover {
	background-color: transparent; 
	color: #FFFFFF;
	font-size: 10pt; 
	}

A.nav1:link	{
	background: #CC6600; 
	color: #FFFFFF; 
	font-family: Verdana, Arial, Sans-serif;
	font-size: 80%; 
	font-weight: bold; 
	margin: 0px 1px 0px 1px; 
	padding: 3px 10px 3px 10px; 
	}

A.nav1:visited	{
	background: #CC6600; 
	color: #FFFFFF; 
	font-family: Verdana, Arial, Sans-serif;
	font-size: 80%; 
	font-weight: bold; 
	margin: 0px 1px 0px 1px; 
	padding: 3px 10px 3px 10px; 
	}

A.nav1:hover	{
	background: transparent; 
	color: #CC6600; 
	font-family: Verdana, Arial, Sans-serif;
	font-size: 80%; 
	font-weight: bold; 
	margin: 0px 1px 0px 1px; 
	padding: 3px 10px 3px 10px; 
	text-decoration: none;
	}

/* STYLES FOR TABLE ELEMENTS */

TABLE.frame { 
	margin-bottom: 1em;
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 1em;
	width: 600px;
	table-layout: fixed; 
	}

TD.main {
	font-family: Garamond, Georgia, Times, Serif; 
	font-size: 110%;
	width: 595px; 
	}

/* STYLES FOR DIVISIONS */

DIV.header {
	font-family: Garamond, Georgia, Times, Serif; 
	font-size: 110%;
	margin-bottom: 0px; 
	padding-bottom: 0px; 
	}

DIV.footer {
	font-family: Garamond, Georgia, Times, Serif; 
	font-size: 90%; 
	margin-top: 18pt; 
	}

TD.nav	{
	margin: 0px 0px 0px 0px; 
	padding: 0px 0px 0px 0px; 
	}

DIV.toc {
	font-family: Garamond, Georgia, Times, Serif; 
	font-size: 90%;
	font-weight: bold; 
	line-height: 14pt; 
	margin-bottom: 0px; 
	padding-bottom: 0px; 
	padding-left: 0px; 
	text-align: center
	}

/* STYLES FOR HEADINGS */

H1.date {
	font-family: Garamond, Georgia, Times, Serif;
	font-size: 400%;
	font-weight: normal;
	margin-bottom: 0px; 
	margin-top: 10px; 
	padding-bottom: 0px; 
	padding-left: 0px;
	text-align: center; 
	}

H2.month {
	color: #CC6600; 
	font-family: Garamond, Georgia, Times, Serif;
	font-size: 250%; 
	font-style: italic; 
	font-weight: normal;
	letter-spacing: 0.05em; 
	margin: 24px 0px 0px 0px; 
	text-align: center; 
	}

/* STYLES FOR PARAGRAPHS */

P.bib-nav	{
	background-color: #663300; 
	color: #FFFFFF; 
	font-family: 'Lucida Calligraphy', Garamond, Georgia, Times, Serif;
	font-style: italic; 
	font-weight: bold; 
	margin: 0px 0px 0px 0px; 
	padding: 5px 0px 5px 0px; 
	text-align: center; 
	width: 196px; 
	}

P.chron-nav	{
	background-color: #CC6600; 
	color: #FFFFFF; 
	font-family: 'Lucida Calligraphy', Garamond, Georgia, Times, Serif;
	font-size: 150%; 
	font-style: italic; 
	font-weight: bold; 
	margin: 0px 0px 0px 0px; 
	padding: 5px 0px 5px 0px; 
	text-align: center; 
	width: 594px; 
	}

P.mss-nav	{
	background-color: #006600; 
	color: #FFFFFF; 
	font-family: 'Lucida Calligraphy', Garamond, Georgia, Times, Serif;
	font-style: italic; 
	font-weight: bold; 
	margin: 0px 0px 0px 0px; 
	padding: 5px 0px 5px 0px; 
	text-align: center; 
	width: 195px; 
	}

P.res-nav	{
	background-color: #CC0000; 
	color: #FFFFFF; 
	font-family: 'Lucida Calligraphy', Garamond, Georgia, Times, Serif;
	font-style: italic; 
	font-weight: bold; 
	margin: 0px 0px 0px 0px; 
	padding: 5px 0px 5px 0px; 
	text-align: center; 
	width: 196px; 
	}

P.dt-lt {
	font-family: Garamond, Georgia, Times, Serif;
	font-size: 120%; 
	font-weight: bold; 
	margin-bottom: 0pt; 
	margin-top: 0pt; 
	padding-bottom: 0pt; 
	padding-top: 12pt; 
	}

P.dt-rt {
	font-family: Garamond, Georgia, Times, Serif;
	font-size: 120%; 
	margin-top: -15pt; 
	margin-bottom: 0pt; 
	padding-top: 0pt; 
	text-align: right; 
	}

P.head {
	font-family: Garamond, Georgia, Times, Serif; 
	font-size: 120%;
	font-weight: bold;
	}

P.p1 {
	margin: 0pt; 
	padding-left: 25px; 
	padding-top: 6pt; 
	}

P.p2 {
	margin: 0pt; 
	padding-left: 50px; 
	padding-top: 6pt; 
	}

P.pflush {
	line-height: 120%; 
	margin-bottom: 0px; 
	margin-top: 10pt;	
	text-align: justify; 
	}

P.pindent {
	line-height: 120%; 
	margin-bottom: 0px; 
	margin-top: 0px; 
	text-align: justify; 
	text-indent: 1.25em; 
	}

P.psource {
	border-top: thin solid #000000;
	margin-bottom: 0px; 
	margin-top: 24pt;
	text-align: justify; 
	}

P.psource2 {
	margin-bottom: 0px; 
	margin-top: 6pt;
	text-align: justify; 
	}

/* STYLES FOR SPANS */

.bi {
	font-style: italic; 
	font-weight: bold; 
	}

.caption {
	font-style: italic; 
	font-weight: bold; 
	}

.drop-cap {
	font-family: Garamond, Georgia, Times, Serif; 
	font-size: 175%; 
	font-weight: bold; 
	}

.loc {
	font-family: Garamond, Georgia, Times, Serif; 
	font-size: 100%;
	}

.ms {
	font-family: Garamond, Georgia, Times, Serif; 
	font-size: 85%; 
	}

.place {
	color: #993300; 
	font-style: italic; 
	font-weight: bold; 
	}

.sm	{
	font-variant: small-caps; 
	}

.title {
	color: #CC6600; 
	font-style: italic; 
	font-weight: bold; 
	}

.uni {
	font-family: "Arial unicode ms"; 
	font-size: 100%; 
	font-weight: normal;
	}
